
/**
 * This is the CSS file which contains styling rules for text and buttons for all levels. 
 * 
 *@author Harry Liu
 **/


#title {
    -fx-font: 50px Avenir;
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

#pBox {
	-fx-background-color: linear-gradient(#808080 0%, #c0c0c0 100%);
	-fx-padding: 10 20 10 20;
}

#cBox {
	-fx-background-color: linear-gradient(#c0c0c0 0%, #808080 100%);
	-fx-padding: 20 10 20 10;
}

#gameTitle {
    -fx-font: 50px Avenir;
    -fx-fill: black;
}

#parameters {
    -fx-font: 18px Avenir;
    -fx-fill: white;
    -fx-stroke-width: 1;
}

.combo-box {
	-fx-font-size:20px;
    -fx-text-fill:black;
    -fx-font-family:"Arial";
    -fx-background-color: #FFD700;
    -fx-pref-width: 200;
    -fx-max-width:500;
}

.button {
	-fx-font-size:20px;
    -fx-text-fill:black;
    -fx-font-family:"Arial";
    -fx-background-color: #FFD700;
    -fx-pref-width: 200;
}

.button:hover{
    -fx-background-color: white;
}