
/**
 * This is the CSS file which contains styling rules for text and buttons for all levels. 
 * 
 *@author Harry Liu
 **/


#title {
    -fx-font: 50px Avenir;
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

.scroll-pane{
	-fx-background-color:linear-gradient(#FFFBD0 0%, #f9a425 100%);
	-fx-padding: 15px;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

#gameTitle {
    -fx-font: 50px Avenir;
    -fx-fill: black;
}

#parameters {
    -fx-font: 18px Avenir;
    -fx-fill: black;
    -fx-stroke-width: 1;
}

.combo-box {
	-fx-font-size:20px;
    -fx-text-fill: black;
    -fx-font-family:"Arial";
    -fx-background-color: #FFD700;
    -fx-max-width:275;
}

.button {
	-fx-font-size:20px;
    -fx-text-fill:black;
    -fx-font-family:"Arial";
    -fx-background-color: #FFD700;
    -fx-pref-width: 275;
}

.button:hover{
    -fx-background-color: white;
}